/* border box */
*,
*:before,
*:after {
    box-sizing: border-box;
}
body{
    font-family: 'Source Serif Pro', serif;
    margin:0 auto;
    max-width: 69ch;
    height: 100%;
    line-height: 1.4;
    background: #0e0613 url("/assets/bg.png");
    color: #eeeeee;
}
p {
    padding: 0.8ch;
}
a {
	color:#d199ff;
}
a:visited {
	color:#f188ff;
}
.section {
    display: block;
    padding: 1ch;
    margin: 2% auto;
    border-width: 3px;
    max-width: 69ch;
    border: 2px ridge;
    border-color: #27123b;
    background-color: #0e0613; /* if no gradient support */
    background-image: linear-gradient(to right, 
                rgb(15, 10, 15), 
                rgb(14, 10, 17), 
                rgb(14, 10, 17), 
                rgb(14, 10, 17), 
                rgb(15, 10, 15));
}
h1,h2,h3 {
    color:#f2e6fe;
    line-height: 1.2;
    text-align: center;
}
.video-container {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%; /* creates a 16:9 aspect ratio */
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.video-wrap {
    width: 100%;
    max-width: 600px;
}
.steam-container {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 28%;
}
.steam-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.steam-wrap {
    width: 100%;
    max-width: 725px;
}
iframe#radio {
    border: 4px inset;
    background-color: #070D13;
    padding: 16px;
    margin: 4% auto;
}

/* links + lfm np*/

.radio {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 0.8ch;
    margin-right: 0.8ch;
    border: 1px solid #251a32;
    background-color: #0a0812;
    width: 66%;
}
.links {
    display: flex;
    align-items: center;
    text-align: right;
    line-height: 1.1;
}
.links ul {
    list-style: none;
    padding: 0;
    margin-left: 2ch;
}
.links li {
    padding: 0.2ch;
    margin-right: 2ch;
}
.link-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.radio p {
    font-size: 0.8em;
    line-height: 1.1;
    text-align: left;
}
.radio img {
    margin-left: 1.5ch;
    margin-right: 1ch;
}