*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Bitter Variable', serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 60ch;
    height: 100%;
    line-height: 1.5;
    background: #0e0613 url("/assets/bg.png");
    color: #eeeeee;
}

.section {
    display: block;
    padding: 0.4ch 2ch;
    margin: 1ch auto;
    border-width: 3px;
    max-width: 69ch;
    border: 2px ridge;
    border-color: #331b80;
    background-color: #0e0613; /* if no gradient support */
    background-image: linear-gradient(to right, 
        rgb(15, 10, 15), 
        rgb(14, 10, 17), 
        rgb(14, 10, 17), 
        rgb(14, 10, 17), 
        rgb(15, 10, 15));
}

a {
	color: #b29aff;
    text-decoration: none;
}

a:visited {
	color: #b268ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* links + lfm np*/

.link-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.radio p {
    font-size: 0.8em;
    line-height: 1.2;
    text-align: left;
}

.radio img {
    margin-left: 1ch;
    margin-right: 1ch;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: left;
    border: 1px solid;
    border-color: #331b80;
    background-color: #0a0812;
    width: 66%;
}

.links {
    display: flex;
    align-items: center;
    text-align: right;
    line-height: 1.1;
}

.links ul {
    list-style: none;
    padding: 0;
    margin-left: 1ch;
}

.links li {
    padding: 0.2ch;
}

