---
import Layout from "../layouts/Main.astro"
---

<Layout heading="tyju.cc">
	<div class="section">
    <center><h2>About</h2></center>
		<p>This is the top secret personal website of tyjubi, also known as vfjekgd and KirbyGamer67 on Steam. I also used to go by 'Calculator', or 'karukureita'. I like using a lot of different names online, but real ones refer to me as Vince. 'tyjubi' is 'yukino' shifted one key to the left each on qwerty. I made a game with RPGMaker VX Ace called 'The Adventures of Crackhead Jack', and released an enhanced version on Steam dubbed the 'Overdose Edition' for $5. My more public-facing site for my indie games are over at <a href="https://onlytomorrow.net">https://onlytomorrow.net</a>.</p>
		<p>I'm currently working on an incremental game called 'Idlenet' made with LOVE2D (Lua). The game will eventually be open source in addition to being released on itch.io, Steam, and web browsers.</p>
		<p>I also run a private 'vanilla' Minecraft server called 'Admin Abusecraft'. It's been running since 2016, and is currently on its 8th world. If you're curious, previous worlds can be viewed/downloaded here.</p>
		<p>Programming shit is my hobby, and it's usually video games because they're art.</p>
	</div>
	<div class="section">
	<center>
		<a href="https://twitter.com/ibujyt">twitter</a>
		<a href="https://www.youtube.com/@karukureita4732">youtube</a>
		<a href="https://github.com/onlytomorrow">github</a>
		<hr style="width: 50%; color: #918bb9"/>
		<a href="https://steamcommunity.com/id/vfjekgd">steam</a>
		<a href="https://onlytomorrow.net/acdl">abusecraft</a>
		<a href="https://onlytomorrow.net">onlytomorrow</a>
		<a href="https://vfjekgd.gamejolt.io">gamejolt</a>
	</center>
	</div>
</Layout>