---
import Layout from "../layouts/Main.astro";
---
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<Layout heading="Projects">
    <div class="section">
        <img src="/assets/proj/scr_mac_230514.png" width="100%" style="padding-bottom: 0px;"/>
        <h2>Idlenet (WIP)</h2>
        <p>Idlenet is an incremental game that is currently in-development. It's about managing a growing network. I consider it my first “proper” game, made with LÖVE2D in Lua. My plan is to release it for Windows, MacOS, Linux, and web browsers, on itch.io and Steam. The game's source will also “soon” be available on Github.</p>
    </div>
    <div class="section">
        <img src="/assets/proj/chj_s1.jpg" width="50%" style="padding: 1%"/><img src="/assets/proj/chj_s2.jpg" width="50%" style="padding: 1%"/>
        <img src="/assets/proj/chj_s3.png" width="50%" style="padding: 1%"/><img src="/assets/proj/chj_s4.png" width="50%" style="padding: 1%"/>
        <h2>Crackhead Jack (2016, 2020)</h2>
        <p>The Adventures of Crackhead Jack is a game I made with RPG Maker VXAce in 2016. Originally made as a South Park-esque parody of Vinesauce Joel's BBQ Quest, you play as a man named Jack who is joined by two cultists to get back his crack that was taken by the police. It is a short and mechanically simple RPG filled with inside jokes and secret references. A majority of the graphics are made by hand with a mouse and shitty used Wacom tablet in Paint.NET. In 2020 it was updated and re-released on Steam as the “Overdose Edition”, featuring a story rewrite and gameplay balance overhaul. It's $5, and also has an original soundtrack. People seem to like it.</p>
        <p>Surprisingly, there are a few let's plays of both the original game and the Overdose Edition on Youtube. Click around here if you want to see.</p>
    </div>
    <div class="section">
        <h2>GameJolt trash (2013-2015)</h2>
        <p>I made a bunch of shitty small unfinished games that I released on GameJolt while I was in middle school. They're made with the GameMaker Language in GameMaker Studio 1.4. They're not really worth talking about, but they're just really barebones idle games and an unfinished platformer. Link <a href="https://vfjekgd.gamejolt.io/games.html">here.</a></p>
    </div>
</Layout>

<style>
    h1, h2, h3 {
        text-align: center;
    }
</style>