---
import Layout from "../layouts/Main.astro";
---

<Layout heading="Projects" title="projects" description="tyjubi project page">
    <div class="section">
        <img src="/assets/proj/idlenet_mac_250123.png" width="100%" style="padding-bottom: 0px;"/>
        <h2>Idlenet (WIP)</h2>
        <p><i>Idlenet</i> is an incremental game that is currently in-development. It's about managing a growing network, is set in an alternate present, and will most definitely not be accurate. I consider it my first &quot;proper&quot; game, made with Love2D in Lua. Heavily inspired by the games <i>Kittens Game</i>, <i>Bitburner</i>, <i>Trimps</i>, <i>Your Chronicle</i>, <i>Orb of Creation</i>, and <i>Idling to Rule the Gods</i>. It'll be released on Windows and MacOS through itch.io and Steam. The game's source will also &quot;soon&quot; be available on Github.</p>
    </div>
    <div class="section">
        <img src="/assets/proj/chj_s1.jpg" width="50%" style="padding: 1%"/><img src="/assets/proj/chj_s2.jpg" width="50%" style="padding: 1%"/>
        <img src="/assets/proj/chj_s5.jpg" width="50%" style="padding: 1%"/><img src="/assets/proj/chj_s3.jpg" width="50%" style="padding: 1%"/>
        <h2>Crackhead Jack (2016, 2020)</h2>
        <p><i>The Adventures of Crackhead Jack</i> is a game I made with RPG Maker VXAce in 2016, released for free on <a href="https://gamejolt.com/games/the-adventures-of-crackhead-jack/148303">GameJolt</a>. You play as a man named Jack who is joined by two cultists to get back his crack that was taken by the police. It is a short and mechanically simple RPG filled with inside jokes and secret references, originally made as a <i>South Park</i>-esque parody of Vinesauce Joel's <i>BBQ Quest</i>. The <i>Cyanide & Happiness</i> style graphics are made by hand with a mouse and shitty used Wacom tablet in Paint.NET.</p> 
        <p>In 2020 it was <a href="https://store.steampowered.com/app/1328500/">updated and re-released on Steam</a> as the <i>Overdose Edition</i>, featuring a gameplay balance overhaul and a story rewrite after I tried out drugs. It's $5, and also has <a href="https://store.steampowered.com/app/1440820/The_Adventures_of_Crackhead_Jack_Overdose_Edition_Soundtrack/">an original soundtrack</a> thanks to some very talented friends &mdash; they get the soundtrack sales.</p>
        <h3><a href="https://steamcommunity.com/app/1328500/reviews/?browsefilter=toprated&snr=1_5_100010_" style="color: #f2e6fe; text-decoration: none;">Praise for <i>Crackhead Jack: Overdose Edition</i></a></h3>
        <details class="review">
            <summary>Click to reveal a few glowing reviews from Steam gamers</summary>
            <p>
                &quot;I like pretty much all of this game and would recommend it to anyone looking for some dumb fun.&quot;
                <br><i>- Marmo, 11.6h played</i></span>
            </p>
            <p>
                &quot;Alright highkey I had a blast playing this game and I've been saying to everyone that its legit the best game I've ever spent 5 dollars on.&quot;
                <br><i>- Dgen Szn, 11.2h played</i></span>
            </p>
            <p>
                &quot;This game is a hidden gem. I found it completely by accident and i'm glad that I did. I always love stupid games like this and i'm shocked this one isn't more well known. If you enjoy stupid/funny games I Highly recommend.&quot;
                <br><i>- FellowComrad, 8.0h played</i></span>
            </p>
            <p>
                &quot;The Adventures of Crackhead Jack looks like a gimmicky joke game but it's actually a really solid RPG. The sense of humor is pretty dumb at times but dumb in the kind of way that makes you CRACK a smile.&quot;
                <br><i>- Maddiesoft, 11.0h played</i>
            </p>
            <p>
                &quot;Crackhead Jack is exhilarating. It's like I can really feel the rocks in my nose while I'm playing. That or I'm actually on the powder. Either or, this game should be free in Venezuela and Colombia; easy access and all that.&quot;
                <br><i>- J$, 8.2h played</i></span>
            </p>
            <p>
                &quot;This game was WHITE DOABLE&quot;
                <br><i>- alkalde, former 3-digit osu! pro, 5.9h played</i></span>
            </p>
            <p>
                &quot;Game's funny, buy it&quot;
                <br><i>- Father Moth, 8.7h played</i></span>
            </p>
            <p>
                &quot;Perfect&quot;
                <br><i>- absurD, 8.5h played</i></span>
            </p>
        </div>
        
    </div>
    <div class="section">
        <h2>GameJolt garbage (2013-2016)</h2>
        <p>I made a bunch of shitty small unfinished games that I released on GameJolt while I was in middle school. They're made with the GameMaker Language in GameMaker Studio 1.4. They're not really worth talking about &mdash; two barebones idle games and an unfinished platformer. Link <a href="https://vfjekgd.gamejolt.io/games.html">here.</a></p>
    </div>
    <div class="section">
        <h2>Other stuff</h2>
        <p>
            <b><a href="https://github.com/onlytomorrow/achardcore">achardcore</a></b> - A small Minecraft datapack that revives spectator mode players after 1 irl week, counted with in-game days. Specifically for Hardcore SMP.
        </p>
        <p>
            <b><a href="https://github.com/onlytomorrow/acplaytime">acplaytime</a></b> - Another small Minecraft datapack that tracks players' total play time in a multiplayer world in minutes and hours. 
        </p>
        <h3>Websites</h3>
        <p>
            <b><a href="https://onlytomorrow.net">OnlyTomorrow.net &#123;/boker,/acdl&#125;</a></b> - website for my video games and other miscellaneous things. <a href="https://onlytomorrow.net/boker">/boker</a> is the radio project page that is a wrapper for an Azuracast instance. <a href="https://onlytomorrow.net/acdl">/acdl</a> is a separate page for Abusecraft-related things. Made in plain HTML and CSS.
        </p>
        <p>
            <b><a href="https://void.onlytomorrow.net">OnlyTomorrow Void</a></b> - my "secret" personal blog that has some self-indulgent rambling along with Idlenet development logs. Posts written in Markdown, site made with the <a href="https://astro.build">Astro</a> framework.
        </p>
        <p>
            <b><a href="https://tyju.cc">This website</a></b>&nbsp;<a href="https://github.com/onlytomorrow/tyju.cc"><small>(repo)</small></a> - for the <a href="https://staydown.money">staydown.money</a> webring. Made with the <a href="https://astro.build">Astro</a> framework.
        </p>
    </div>
</Layout>

<style>
    summary {
        text-align: center;
        color: #b494d1;
    }
    .review {
        margin-left: 4ch;
        margin-right: 4ch;
        font-size: 80%;
        line-height: 1.4;
        margin-bottom: 4ch;
    }
    .review i {
        float: inline-end;
        margin-right: 4ch;
        color: #e6cefd;
    }
</style>
