<div class="links">
    <ul>
        <li><i style="color:#f2e6fe">links</i></li>
        <li><a href="https://www.youtube.com/@karukureita4732">youtube</a>&nbsp;<a href="https://twitter.com/ibujyt">twitter</a></li>
        <li><a href="https://github.com/onlytomorrow">github</a>&nbsp;<a href="https://twitch.tv/tyjubi">twitch</a></li>
        <li><a href="https://steamcommunity.com/id/vfjekgd">steam</a>&nbsp;<a href="https://onlytomorrow.net/acdl">abusecraft</a></li> 
        <li><a href="https://onlytomorrow.net">onlytomorrow</a></li>
    </ul>
</div>