<div class="links">
    <ul>
        <li style="color:#716080; font-size: 12px;">cool links!</li>
        <li>
            <a href="https://www.youtube.com/@karukureita4732">youtube</a>&nbsp;
            <a href="https://twitter.com/ibujyt">twitter</a>
        </li>
        <li>
            <a href="https://github.com/onlytomorrow">github</a>&nbsp;
            <a href="https://twitch.tv/tyjubi">twitch</a></li>
        <li>
            <a href="https://steamcommunity.com/profiles/76561198078753523">steam</a>&nbsp;
            <a href="https://onlytomorrow.net/acdl">abusecraft</a>
        </li> 
        <li>
            <a href="https://onlytomorrow.net">onlytomorrow</a>&nbsp;
            <a href="https://void.onlytomorrow.net">blog</a>
        </li>
    </ul>
</div>

<style>
    a, a:visited {
        color: #b29aff;
    }
</style>
