<div class="nav">
    <br/>
    <h1>tyju.cc</h1>
    <a class="social" href="/">Home</a>
    <a class="social" href="/projects/">Projects</a>
</div>  

<style>
h1 {
    display: inline;
    vertical-align: middle;
    text-align: left;
    padding: 0% 2% 0% 0%;
}
.nav {
    padding: 2%;
}
a, a:visited {
    padding: 0.4ch;
    color: #eeeeee;
    text-decoration: none;
    border: 1px solid #4e386a;
    background-color: #1c1532;
}
a:hover {
    color: #eeb7ff;
    background-color: hsl(253, 15%, 30%);
}
</style>