<script>
    async function getNowPlaying() {
        const data = await fetch('/api/lfm',{
            method: "GET",
            headers: {
                'Content-Type': 'application/json; charset=utf-8',
                'Cache-Control': 'no-cache'
            }
        });
        const response = await data.json();
        document.getElementById("albumArt").src = response.albumArt;
        document.getElementById("npArtist").textContent = response.artist;
        document.getElementById("npTrack").textContent = response.track;
        document.getElementById("npAlbum").textContent = response.album;
    }
    getNowPlaying();
    setTimeout(getNowPlaying, 300000);
</script>

<div class="radio">
    <img id="albumArt" src="" alt="..." width="64px"/>
    <p>
        <span><small><a href="https://last.fm/user/rotaluclac" style="color: gray; text-decoration: none;">recently listened to:</a></small></span><br>
        <b><span id="npArtist">...</span></b><br>
        <span id="npTrack">...</span><br>
        <small style="color: gray">from </small><i><span id="npAlbum">...</span></i>
    </p>
</div>