---
const lfmAPI = import.meta.env.LAST_FM_API_KEY;
---

<script define:vars={{lfmAPI}}>
    const username = 'rotaluclac';
    async function getNowPlaying() {
        try {
            const response = await fetch(`https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=${username}&api_key=${lfmAPI}&format=json`);
            const data = await response.json();
            const recent = data.recenttracks.track[0];
            const npArtist = `${recent.artist['#text']}`;
            const npTrack = `${recent.name}`;
            const npAlbum = `${recent.album['#text']}`;
            const npAlbumArt = `${recent.image[1]['#text']}`;
            
            document.getElementById("albumArt").src = npAlbumArt;
            document.getElementById("npArtist").textContent = npArtist;
            document.getElementById("npTrack").textContent = npTrack;
            document.getElementById("npAlbum").textContent = npAlbum;
        } catch (err) {
            console.error("lfm API error: ", err);
        }
    }
    getNowPlaying();
    setTimeout(getNowPlaying, 300000);
</script>

<div class="radio">
    <img id="albumArt" src="" alt="..." width="64px"/>
    <p>
        <span><small><a href="https://last.fm/user/rotaluclac" style="color: gray; text-decoration: none;">recently played:</a></small></span><br>
        <b><span id="npArtist">...</span></b><br>
        <span id="npTrack">...</span><br>
        <small style="color: gray">from </small><i><span id="npAlbum">...</span></i>
    </p>
</div>
