---
const lfmAPI = import.meta.env.LAST_FM_API_KEY;
const username = 'rotaluclac';
const response = await fetch(`https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=${username}&api_key=${lfmAPI}&format=json`);
const data = await response.json();
const recent = data.recenttracks.track[0];
const albumArt = data.recenttracks.track[0].image[1]['#text'];
---

<div class="radio">
    <img src=`${albumArt}` alt="art"/>
    <p>
        <small><a href="https://last.fm/user/rotaluclac" style="color: gray; text-decoration: none;">recently played:</a></small><br>
        <strong>{recent.artist['#text']}</strong><br>
        {recent.name}<br>
        <small style="color: gray">from </small><i>{recent.album['#text']}</i>
    </p>
</div>