<center>
<p>
    <i>this site is part of the <a href='https://staydown.money/'>staydown.money</a> webring</i>
    [<a href='https://staydown.money/wr?prev=https://onlytomorrow.net/'>&lt;-&nbsp; prev</a> | <a href='https://staydown.money/wr?random=https://onlytomorrow.net/'>random</a> | <a href='https://staydown.money/wr?next=https://onlytomorrow.net/'>next &nbsp;-&gt;</a>]
</p>
<p>
	<img src="/assets/ienuke.gif"></img>
	<img src="/assets/macos.gif"></img>
	<img src="/assets/anythingbut.gif"></img>
    <img src="/assets/delete-twitter.gif"></img>
    <img src="/assets/nya.gif"></img>
</p>
</center>

<style>
p {
    font-size: small;
    color: #666;
}
a, a:visited {
    color: #7b678f;
}
</style>