<center>
<p id="buttons">
    <img src="/assets/tyju-btn.png"></img>
    <a href="https://staydown.money"><img src="/assets/staydown.png"></img></a>
	<img src="/assets/ienuke.gif"></img>
	<img src="/assets/miku.gif"></img>
	<img src="/assets/chrome.gif"></img>
    <img src="/assets/nya.gif"></img>
</p>
<p>
    <i>this site is part of the <a href='https://staydown.money/'>staydown.money</a> webring</i>
    [<a href='https://staydown.money/wr?prev=https://tyju.cc/'>&lt;-&nbsp; prev</a> | <a href='https://staydown.money/wr?random=https://tyju.cc/'>random</a> | <a href='https://staydown.money/wr?next=https://tyju.cc/'>next &nbsp;-&gt;</a>]
</p>
</center>

<style>
p {
    font-size: small;
    color: #666;
}

a, a:visited {
    color: #7b678f;
}
</style>
