<center>
<p style="font-size:small; color: gray">
    <i>this site is part of the <a href='https://staydown.money/'>staydown.money</a> webring</i>
    [<a href='https://staydown.money/wr?prev=https://onlytomorrow.net/'>&lt;-&nbsp; prev</a> | <a href='https://staydown.money/wr?random=https://onlytomorrow.net/'>random</a> | <a href='https://staydown.money/wr?next=https://onlytomorrow.net/'>next &nbsp;-&gt;</a>]
</p>
</center>

<style>
p {
    font-size: small;
    color: gray;
}
a {
    color: white;
}
</style>